@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
   
    
    <p>Manishanshu Sarkar: GenC Intern</p>
    <p>B for books , its a reputated bookshop</p>
</main>