@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
   
    <h3>@ViewBag.Message</h3>

    <address>
        Ramrajatala, Station Raod<br />
        Howrah,West Bengal 711112<br />
        <abbr title="Phone">P:</abbr>
        9007093071
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>